<a href="https://colab.research.google.com/github/suumino/head/blob/main/day19_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 퀴즈 1

people = {
    ('이호준', '01050442903'), 
    ('이호상', '01051442904'), 
    ('이준호', '01050342904'), 
    ('이호준', '01050442903'), 
    ('이준', '01050412904'), 
    ('이호', '01050443904'), 
    ('이호준', '01050442903')
}
print(len(set(people)))

5

In [31]:
# 퀴즈 2

a = input()   # 입력받음

for i in range(0, len(a)):   # 0부터 a의 길이까지
  if chr(90) >= a[i] >= chr(65):   # 만약 a가 대문자이면
    print(a[i].lower(), end='')   # a[i]를 소문자로 바꿔서 출력
  elif chr(112) >= a[i] >= chr(91) :   # 아니면
    print(a[i].upper(), end='')   # a[i]를 대문자로 바꿔서 출력

# a.swapcase() 대소문자를 바꿔주는 함수 a.swapcase() 대소문자를 바꿔주는 함수

AAABBBcccddd
aaabbbCCCDDD

In [35]:
# 퀴즈 3

a = list(map(int, input(). split()))   # 띄어쓰기를 기준으로 한개씩 수를 받아서 리스트에 넣는다

print(max(a))   # 리스트 a 중에서 제일 큰 값을 출력한다

10 9 8 7 6 5 4 3  2 1
10

In [36]:
# 퀴즈 3_max 안쓰고 풀기

a = list(map(int, input(). split()))   # 수 입력 받음
b = 0   # 변수 초기화

for i in range(len(a)):   # a의 범위 내에서
  if a[i] > b:   # 값이 b보다 크면
    b = a[i]   # b는 큰값으로 교체됨

print(b)   # b 출력

10 89 8 7 6 5 4 63 2 1
89

In [58]:
# 퀴즈 3_max 안쓰고 index까지 쓰기

a = list(map(int, input(). split()))   # 수입력받음

print(sorted(a)[-1])   # 마지막 수 출력

10 9 8 7 6 5 4 3 2 1
10

In [90]:
# 퀴즈 4

student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', '권윤일', '김채리', '한지호', '김진이', '김민호', '강채연']

student = sorted(student)   # 정렬

for i in range(0, len(student)):   # 범위 내에서
  print('번호 : %d, 이름 : %s' % ((i+1), student[i]))   # 출력

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 강채연
번호 : 3, 이름 : 권윤일
번호 : 4, 이름 : 김민호
번호 : 5, 이름 : 김유정
번호 : 6, 이름 : 김진이
번호 : 7, 이름 : 김채리
번호 : 8, 이름 : 박지호
번호 : 9, 이름 : 박현서
번호 : 10, 이름 : 최성훈
번호 : 11, 이름 : 한지호
번호 : 12, 이름 : 홍유진

In [83]:
# 퀴즈 4_공부용

student = ['강은지', '김유정', '박현서', '최성훈', '홍유진', '박지호', '권윤일', '김채리', '한지호', '김진이', '김민호', '강채연']

for i, name in enumerate(sorted(student)):   # 범위 내에서 숫자와 이름을 받아서
  print('번호 : %d, 이름 : %s' %((i+1), name))   # 출력

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 강채연
번호 : 3, 이름 : 권윤일
번호 : 4, 이름 : 김민호
번호 : 5, 이름 : 김유정
번호 : 6, 이름 : 김진이
번호 : 7, 이름 : 김채리
번호 : 8, 이름 : 박지호
번호 : 9, 이름 : 박현서
번호 : 10, 이름 : 최성훈
번호 : 11, 이름 : 한지호
번호 : 12, 이름 : 홍유진

In [113]:
# 퀴즈 5

name = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']  # 리스트 생성

print(name.index('c'), end='') # 2 출력
print(name.index('a'), end='') # 0 출력
print(name.index('b'), end='') # 1 출력
print(name.index('j'), end='') # 9 출력
print(name.index('a'), end='') # 0 출력
print(name.index('j'), end='') # 9 출력
print(name.index('c'), end='') # 2 출력
print(name.index('d'), end='') # 3 출력

20190923

In [122]:
# 퀴즈 5_2

print(ord('z') - ord('f'), end='')   # 아스키코드값 122 - 102 = 20
print(ord('z') - ord('g'), end='')   # 122 - 103 = 19
print(ord('z') - ord('z'), end='')   # 122 - 122 = 0
print(ord('z') - ord('q'), end='')   # 122 - 113 = 9
print(ord('z') - ord('c'), end='')   # 122 - 99 =23

20190923

In [127]:
# 퀴즈 5_3

str = "aacdddddddddeee"

print(str.count('a'), end='')
print(str.count('b'), end='')
print(str.count('c'), end='')
print(str.count('d'), end='')
print(str.count('b'), end='')
print(str.count('d'), end='')
print(str.count('a'), end='')
print(str.count('e'), end='')

20190923

In [135]:
# 퀴즈 6

a = list(input().split())   # 입력된 문장을 단어별로 잘라서 리스트에 대입

for i in range(len(a)):   # a의 길이 동안
  print(a[i][0], end='')   # 각 리스트의 i번째의 0번째 요소 출력

Hello mr my yesterday
Hmmy

In [139]:
# 퀴즈 7

print('%d 자리수' %len(input()))   # 길이 출력

1234567896
10 자리수

In [149]:
# 퀴즈 8

a = input()   # 문장 받음

print(len(a.replace(' ', '')))   # 공백을 없앤 것의 길이 세기

공백을 제외한 글자수만을 세는 코드 테스트
18

In [148]:
공백을 제외한
글자수만을 세는 코드 테스트

NameError: ignored